        body{
            font-family: "Kristen ITC";
            background-color: lightgray;
        }
        h1{
            font-family: "Kristen ITC";
            color: seagreen;
            text-align: center;
        }
        img{
            width: 20em;
            height: auto;
        }
        #pic{
            text-align: center;
            margin-bottom: 2em;
        }
        h3{
            text-align: center;
        }
        .footer{
            font-family: Arial;
            position: fixed;
            left:0;
            bottom: 0;
            width: 100%;
            text-align: center;
        }
        .text{
            font-size: 25px;
            font-family: "Kristen ITC";
            text-align: center;
        }

        .formText{
            margin-right: 3em;

        }