body {
        font-family: ".SF NS Text";
        background-color: darkgray;
    }
#textStyle{
    text-decoration:underline ;
}

  a{
      color:black;
   }

    img {
        width: 20em;
        height: 10em;
    }

    span.validationError {
        color: #ff0000;
    }

    #app{
        background-color: #BBBBBB;
        border-radius: 40px;
    }
    #soup
    {
        background-color: #BBBBBB;
        border-radius: 40px;
    }
    #bread
    {
        background-color: #BBBBBB;
        border-radius: 40px;

    }
    #salad
    {
        background-color: #BBBBBB;
        border-radius: 40px;
    }
    #maindish{
        background-color: #BBBBBB;
        border-radius: 40px;
    }
    #dessert
    {
        background-color: #BBBBBB;
        border-radius: 40px;
    }

