body {
        font-family: ".SF NS Text";
        background-color: darkgray;
    }



    img {
        width: 20em;
        height: auto;
    }


    /*.footer{
        font-family: Arial;
        position: fixed;
        left:0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }*/

    span.validationError {
        color: #ff0000;
    }

