<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/style.css}"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no">

    <title>CookWithMe</title>
</head>

<body>
<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand">CWM</span>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="${#request.getServletPath()== '/' ? 'active' : ''}">

                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item" th:classappend="${#request.getServletPath()== '/login' ? 'active' : ''}"
                th:if="${#authentication.getName().equals('anonymousUser')}" >
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item" th:classappend="${#request.getServletPath()== '/register' ? 'active' : ''}"
                th:if="${#authentication.getName().equals('anonymousUser')}">
                <a class="nav-link" th:href="@{/register}">Register</a>
            </li>
            <li class="nav-item" th:classappend="${#request.getServletPath()== '/design' ? 'active' : ''}"
                th:if="${!#authentication.getName().equals('anonymousUser')}">
                <a class="nav-link" th:href="@{/design}">Recipe</a>
            </li>
            <li class="nav-item" th:classappend="${#request.getServletPath()== '/content/display' ? 'active' : ''}"
                th:if="${!#authentication.getName().equals('anonymousUser')}">
                <a class="nav-link" th:href="@{/content/display}">Content</a>
            </li>
            <li class="nav-item"
                th:if="${!#authentication.getName().equals('anonymousUser')}">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>

    </div>
</nav>
<div class="container-fluid justify-content-center">
    <div class="row justify-content-center">
<!--        <h1><span th:text="${fullName}">NAME</span></h1>-->
    </div>
    <div class="row justify-content-center">
        <img th:src="@{images/cwm.jpg}"/>
    </div>
</div>

<



<footer th:replace="fragments/base :: footer"></footer>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"> </script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"> </script>
<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"> </script>

</body>

</html>