<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet", th:href="@{/formstyle.css}"/>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>CookWithMe</title>
</head>


<body>
<h1>Cook With Me</h1>
<div id="pic">
    <img th:src="@{/images/cwm.jpg}"/>
</div>

<form class="formText" method="post" th:action="@{/new}" th:object="${aForm}" >
    <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
            Please correct the problems below and resubmit.
        </span>
    </div>

    <label for="name">Name:</label>
    <input type="text" th:field="name" th:value="${fullName}" id="name"/><br><br>
    <span class="validationError"
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}">Name Error</span>

    <label>Street:</label>
    <input type="text" th:field="*{street}"/><br><br>
    <span class="validationError"
          th:if="${#fields.hasErrors('street')}"
          th:errors="*{street}">Street Error</span>

    <label>City:</label>
    <input type="text" th:field="*{city}"/><br><br>
    <span class="validationError"
          th:if="${#fields.hasErrors('city')}"
          th:errors="*{city}">City Error</span>

    <label>State:</label>
    <input type="text" th:field="*{state}"/><br><br>
    <span class="validationError"
          th:if="${#fields.hasErrors('state')}"
          th:errors="*{state}">State Error</span>

    <label>Zip Code:</label>
    <input type="text" th:field="*{zip}"/><br><br>
    <span class="validationError"
          th:if="${#fields.hasErrors('zip')}"
          th:errors="*{zip}">Zip Error</span>

    <input type="submit" value="Submit order"/>




</form>

<div class="footer">
    <p>Copyright @2020 Desislava Borisova CS-321-1</p>
</div>

</body>
</html>