<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet", th:href="@{/formstyle.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">


    <meta charset="UTF-8">
    <title>CookWithMe</title>
</head>


<body>
<h1>Cook With Me</h1>
<div id="pic">
    <img th:src="@{/images/cwm.jpg}"/>
</div>

<div th:each="recipes : ${recipe}">
  <!--  <div th:each="category : ${categories}">-->
<div th:action="@{/display}" th:object="${recipe}" >
    <div>

      <!-- <p>Id: <span th:text="${category.id}">Cost</span></p>-->
        <p><span th:text="${recipes.categories}">END DATE</span></p><br/>
        <p>Name: <span th:text="${recipes.name}">START DATE</span></p>
        <p>Ingredients:<span th:text="${recipes.ingredients}">END DATE</span></p><br/>
        <p>Description: <span th:text="${recipes.ds}">END DATE</span></p><br/>
        <p>Total Time: <span th:text="${recipes.time}">END DATE</span></p><br/>
        <p>Calories: <span th:text="${recipes.cal}">END DATE</span></p><br/>
    </div>
</div>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"> </script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"> </script>
<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"> </script>

</body>
</html>