<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/basesecond :: head"></head>

<body>
        <nav th:replace="fragments/basesecond :: navigation" ></nav>

            <div  class="container-fluid mt-5">
                 <div th:replace="fragments/base :: appImage"></div>
            </div>
            <div class="text-center mb-3">
                <h3 class="text-center"><span th:text="${fullName}"></span> recipes</h3>
            </div>

        <div class="container-fluid">
            <div class="list-group text-center">
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="appetizer">Appetizer</a></li>
                    <li class="mb-2"><a href="soup">Soup</a></li>
                    <li class="mb-2"><a href="bread">Bread</a></li>
                    <li class="mb-2"><a href="salad">Salad</a></li>
                    <li class="mb-2"><a href="maindish">Main Dish</a></li>
                    <li class="mb-2"><a href="dessert">Dessert</a></li>
                </ul>
            </div>
        </div>


        <footer th:replace="fragments/base :: footer"></footer>

        <div th:insert="fragments/base :: scripts"></div>

</body>
</html>