<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/style.css}"/>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no">
    <title>CookWithMe</title>
</head>


<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-brand">CWM</span>
            <button class="navbar-toggler" type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" th:classappend="${#request.getServletPath()== '/' ? 'active' : ''}">

                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item" th:classappend="${#request.getServletPath()== '/login' ? 'active' : ''}"
                        th:if="${#authentication.getName().equals('anonymousUser')}" >
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item" th:classappend="${#request.getServletPath()== '/register' ? 'active' : ''}"
                        th:if="${#authentication.getName().equals('anonymousUser')}">
                        <a class="nav-link" th:href="@{/register}">Register</a>
                    </li>
                    <li class="nav-item" th:classappend="${#request.getServletPath()== '/design' ? 'active' : ''}"
                        th:if="${!#authentication.getName().equals('anonymousUser')}">
                        <a class="nav-link" th:href="@{/design}">Recipe</a>
                    </li>
                    <li class="nav-item" th:classappend="${#request.getServletPath()== '/display' ? 'active' : ''}"
                        th:if="${!#authentication.getName().equals('anonymousUser')}">
                        <a class="nav-link" th:href="@{/display}">Content</a>
                    </li>
                    <li class="nav-item"
                        th:if="${!#authentication.getName().equals('anonymousUser')}">
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>

            </div>
        </nav>

        <div class="container-fluid">
        <div class="text-center mt-5 mb-5" id="pic">
            <img th:src="@{/images/cwm.jpg}"/>
        </div>
            <div class="text-center mb-3">
            <h3 class="text-center"><span th:text="${fullName}"></span> recipes</h3>
        </div>
        </div>

        <div class="container-fluid">
            <div class="list-group text-center">


                <ul class="list-unstyled">
                    <li class="mb-2"><a href="appetizer">Appetizer</a></li>
                    <li class="mb-2"><a href="soup">Soup</a></li>
                    <li class="mb-2"><a href="bread">Bread</a></li>
                    <li class="mb-2"><a href="salad">Salad</a></li>
                    <li class="mb-2"><a href="maindish">Main Dish</a></li>
                    <li class="mb-2"><a href="dessert">Dessert</a></li>
                </ul>

            </div>
        </div>










        <footer class="footerForm mt-5">
            <div class="container text-center">
                <span>Copyright @2020 Desislava Borisova CS-321-1</span>
            </div>
        </footer>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"> </script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"> </script>
<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"> </script>

</body>
</html>