<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" th:href="@{/formstyle.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">

    <meta charset="UTF-8">
    <title>CookWithMe</title>

</head>
<body>
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <h1 class="col-12 text-center">Cook With Me</h1>
    </div>


<div class="row justify-content-center mt-2 mb-2">
<img th:src="@{/images/cwm.jpg}"/>
</div>
<div class="row justify-content-center">
    <div class="col-2 text-center mt-2">
        <p><a th:href="@{/login}">Login</a> | <a th:href="@{/register}">Register</a></p>
    </div>
</div>
</div>

<div class="footer">
    <p>Copyright @2020 Desislava Borisova CS-321-1</p>
</div>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"> </script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"> </script>
<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"> </script>
</body>
</html>