<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:method="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/base :: headContent"></head>

<body>
<nav th:replace="fragments/base :: navigation" ></nav>

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div  class="container-fluid mt-5">
                    <div th:replace="fragments/base :: appImage"></div>
                </div>
            </div>
        </div>
        <form method="post" th:action="@{/login}" class="container-fluid">
            <div class="row form-group justify-content-center">
                <div class="justify-content-center mb-3">
                    <div th:if="${param.errors}">
                        Unable to login. Check your username and password.
                    </div>
                </div>
<!--                <label class="col-form-label col-1 text-right font-weight-bold" for="username">Username</label>-->
                <p class="font-weight-bold">Username <input class="input-group-prepend form-control" type="text" th:name="username" id="username"></p>
            </div>
            <div class="row from-group justify-content-center">
<!--                <lable class="col-form-label col-1 text-right font-weight-bold" for="password">Password</lable>-->
                <p class="font-weight-bold">Password<input class="input-group-prepend form-control" type="password" th:name="password" id="password"></p>
            </div>

            <div class="row justify-content-center mt-3">
                <input class="btn btn-light ml-3" type="submit" value="login">
            </div>
    </form>

    <footer th:replace="fragments/base :: footer"></footer>

    <div th:insert="fragments/base :: scripts"></div>

</body>
</html>